<div class="home_container">

	<h1 class="home"><span>What's on the menu?</span></h1>
	<h2 class="home"><span>The New York Public Library Historical Menu Collection</span></h2>


	<div class="menu_gallery">

	<% @menus.each do |menu| %>
	  <div class="menu_thumb<%= " menu_done" if menu.is_approved? %>">
	
		<div class="menu_thumb_image_container">
		<%= link_to image_tag(menu.thumbnail_address), menu.menu_pages.first %>
		</div>
	    <span><%= link_to "#{menu.display_name}<br />#{menu.display_date}", menu.menu_pages.first %></span>
	    <span><%= pluralize(menu.item_count, 'item') %> <%= "and counting" if not menu.is_approved? %></span>

	  </div>
	<% end %>
	</div>

	<p><%= link_to 'Add new menu', new_menu_path %></p>
	

</div>



